.ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 405px;
    transition: 3s ease-in-out .2s;
}
.field:hover .ball{
   
    transform: translate(300px, -150px);
}
.bat{
    transition: transform 0.5s ease-in-out;
}
.bat:hover{
    transform: rotate(-60deg);
    transform-origin: 100% 0%;
}
